{{define "plant.html"}}
<div id="plant">
  <div class="box">
    <!-- Start of the columns layout -->
    <div class="columns">
      <!-- Left column for image and plant actions -->
      <div class="column is-one-third">
        <div class="columns is-centered">
          <div class="column">
            <figure class="image is-3x4 is-inline-block">
              <img src="/static/plantA.jpg" alt="Default plant" />
            </figure>
          </div>
        </div>
        <div class="columns is-vcentered">
          <!-- Button for water -->
          <div class="column">
            <button
              hx-put="api/v1/plants/{{.ID}}/water"
              class="button is-fullwidth is-info"
              title="Water"
            >
              <i class="iconoir-droplet"></i>
            </button>
          </div>
          <!-- Button for fertilize -->
          <div class="column">
            <button
              hx-put="api/v1/plants/{{.ID}}/fertilize"
              class="button is-fullwidth is-success"
              title="Fertilize"
            >
              <i class="iconoir-potion"></i>
            </button>
          </div>
          <!-- Button for note -->
          <div class="column">
            <button
              hx-put="api/v1/plants/{{.ID}}/note"
              class="button is-fullwidth is-success"
              title="Add Note"
            >
              <i class="iconoir-notes"></i>
            </button>
          </div>
          <!-- Button for delete -->
          <div class="column">
            <button
              hx-delete="api/v1/plants/{{.ID}}"
              hx-confirm="Are you sure you want to delete this plant?"
              class="button is-fullwidth is-danger"
              title="Delete Plant"
            >
              <i class="iconoir-xmark-circle"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Right column for the plant details and maintenance details tables -->
      <div class="column">
        <!-- Section for the plant details table -->
        <section class="section" style="padding-top: 0">
          <div class="container">
            <table
              class="table is-centered is-bordered is-striped is-fullwidth"
            >
              <tbody>
                <tr>
                  <td style="width: 20%">Name</td>
                  <td
                    id="plantName"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-target="#plant-item-label-{{.ID}}"
                    hx-swap="innerHTML"
                  >
                    {{.Name}}
                  </td>
                </tr>
                <tr>
                  <td>Lighting</td>
                  <td
                    id="plantLighting"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Lighting}}
                  </td>
                </tr>
                <tr>
                  <td>Watering</td>
                  <td
                    id="plantWatering"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Watering}}
                  </td>
                </tr>
                <tr>
                  <td>Fertilizing</td>
                  <td
                    id="plantFertilizing"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Fertilizing}}
                  </td>
                </tr>
                <tr>
                  <td>Toxicity</td>
                  <td
                    id="plantToxicity"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Toxicity}}
                  </td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td
                    id="plantNotes"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Notes}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- Section for the plant maintenance details table -->
        <section class="section" style="padding-bottom: 0">
          <div class="container">
            <table
              class="table is-centered is-bordered is-striped is-fullwidth"
            >
              <tbody>
                {{ range .Actions }}
                <tr>
                  <td style="text-align: center; width: 20%">{{ .Day }}</td>
                  <td style="text-align: center; width: 7%">
                    {{ if .Watered }}
                    <i class="iconoir-droplet"></i>
                    {{ end }}
                  </td>
                  <td style="text-align: center; width: 7%">
                    {{ if .Fertilized }}
                    <i class="iconoir-potion"></i>
                    {{ end }}
                  </td>
                  <td>{{ .Notes }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <!-- End of the columns layout -->
  </div>
</div>
{{end}}
