{{define "plant.html"}}
<div id="plant">
  <div class="box">
    <!-- Start of the columns layout -->
    <div class="columns">
      <!-- Left column for the image -->
      <div class="column is-one-third">
        <figure class="image is-3x4 is-inline-block">
          <img src="/static/plantA.jpg" alt="Default plant" />
        </figure>
      </div>
      <!-- Right column for the tables -->
      <div class="column">
        <!-- Section for the plant details table -->
        <section class="section" style="padding-top: 0">
          <div class="container">
            <!-- <button class="button is-success is-light mr-2">Edit</button> -->
            <table
              class="table is-centered is-bordered is-striped is-fullwidth"
            >
              <tbody>
                <tr>
                  <td style="width: 25%">Name</td>
                  <td
                    id="plantName"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-target="#plant-item-label-{{.ID}}"
                    hx-swap="innerHTML"
                  >
                    {{.Name}}
                  </td>
                </tr>
                <tr>
                  <td>Lighting</td>
                  <td
                    id="plantLighting"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Lighting}}
                  </td>
                </tr>
                <tr>
                  <td>Watering</td>
                  <td
                    id="plantWatering"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Watering}}
                  </td>
                </tr>
                <tr>
                  <td>Fertilizing</td>
                  <td
                    id="plantFertilizing"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Fertilizing}}
                  </td>
                </tr>
                <tr>
                  <td>Toxicity</td>
                  <td
                    id="plantToxicity"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Toxicity}}
                  </td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td
                    id="plantNotes"
                    contenteditable="true"
                    hx-put="/api/v1/plants/{{.ID}}"
                    hx-trigger="blur"
                    hx-vals='js:{"name": document.getElementById("plantName").innerText,
                                 "lighting": document.getElementById("plantLighting").innerText,
                                 "watering": document.getElementById("plantWatering").innerText,
                                 "fertilizing": document.getElementById("plantFertilizing").innerText,
                                 "toxicity": document.getElementById("plantToxicity").innerText,
                                 "notes": document.getElementById("plantNotes").innerText}'
                    hx-swap="none"
                  >
                    {{.Notes}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <!-- Section for the plant care table -->
        <section class="section" style="padding-bottom: 0">
          <div class="container">
            <button class="button is-success is-light mr-2">Water</button>
            <button class="button is-success is-light mr-2">Fertilize</button>
            <table
              class="table is-centered is-bordered is-striped is-fullwidth"
            >
              <thead>
                <tr>
                  <th style="width: 25%">Date</th>
                  <th>Actions & Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2024-01-10</td>
                  <td>Watered - Fertilized</td>
                </tr>
                <tr>
                  <td>2024-01-02</td>
                  <td>Watered - Moved to a brighter location</td>
                </tr>
                <tr>
                  <td>2023-12-27</td>
                  <td>Fertilized</td>
                </tr>
                <tr>
                  <td>2023-12-22</td>
                  <td>Fertilized</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    <!-- End of the columns layout -->
  </div>
</div>
{{end}}
