{{define "plants.html"}}
<div class="box">
  <h1 class="title">
    Plants
    <span
      class="icon is-small has-text-success"
      style="cursor: pointer"
      hx-post="/api/v1/plants"
      hx-trigger="click"
      hx-target="#plants"
    >
      <i class="iconoir-plus-circle"></i>
    </span>
  </h1>
  <aside class="menu">
    <ul class="menu-list">
      {{ range $index, $element := . }}
      <li hx-target="this" hx-swap="outerHTML">
        <input
          type="radio"
          id="item-{{ $index }}"
          name="menu-items"
          class="hidden-radio"
        />
        <label
          for="item-{{ $index }}"
          class="menu-item-label"
          hx-get="/api/v1/plants/{{ $element.ID }}"
          hx-target="#plant"
          hx-trigger="click"
        >
          ({{ $element.ID }}) {{ $element.Name }}
        </label>
      </li>
      {{ end }}
    </ul>
  </aside>
</div>
{{end}}
